*, *:before, *:after {
box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

/* .container {
  font-weight: bold;
  padding: 5% 0;
  text-align: center;
  text-transform: uppercase;
} */

/* h1 {
  width: 100%;
} */

.preview {
  /* height: 15em;
  margin: 0 auto;
  text-transform: capitalize; */
  width: 280px;
  height: 200px;
}

.baku {
  background-image: url("../images/baku.jpg");
  background-size: cover;
  background-position: left;
  /* display: block; */
  /* position: absolute;
  top: 13%;
  left: 38%; */
}

.london {
  background-image: url("../images/london.png");
  background-size: cover;
  background-position: left;
  /* display: block; */
  /* position: absolute;
  top: 53%;
  left: 38%; */
}

.madrid {
  background-image: url("../images/madrid.jpg");
  background-size: cover;
  background-position: left;
  /* display: block; */
  /* position: absolute;
  top: 90%;
  left: 38%; */
}

.rome {
  background-image: url("../images/rome.jpg");
  background-size: cover;
  background-position: left;
  /* display: block; */
  /* position: absolute;
  top: 124%;
  left: 38%; */
}

/* @media screen (min-width: 575px) {
  .preview {float: left;
            width: 48%; */
  }

}
